$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



body {
  padding: 0;
  background-image: url("https://wallpaperscraft.com/image/abstraction_geometry_shapes_colors_93400_1920x1080.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right top;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    background-color: white;
   /* position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    margin: auto;*/
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.traingApp{
  .container {
    transition: 1s ease;
    background-color: white;
    margin-top: 30px;
  }
  .mdl-layout__header{
    background-color: #b20838;
  }
  .studentsGrid{
    .gridHeader .mdl-cell{
      width: 15%;
      background: none;
      height: 40px;
      text-align: center;
      margin-bottom: 43px;
      p{
        font-weight: bold;
        font-size: 18px;
        color: #b20838;
      }
      .icon{
        height: 45px;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
    .gridRow .mdl-cell{
      background-size: 200% 200%;
      background-image: linear-gradient(to top, #b20838 50%, #BDBDBD 50%);
      -webkit-transition: background-position 300ms, color 300ms ease;
      -moz-transition: background-position 300ms, color 300ms ease;
      -ms-transition: background-position 300ms, color 300ms ease;
      -o-transition: background-position 300ms, color 300ms ease;
      transition: background-position 300ms, color 300ms ease;
      height: 60px;
      padding-left: 8px;
      padding-top: 4px;
      color: white;
      width: 15%;
      transition:all 1s ease-in-out;
      &:hover {
        background-image: linear-gradient(to top, #b20838 51%, #BDBDBD 50%);
        background-position: 0 100%;
        -webkit-transition: background-position 300ms, color 300ms ease;
        -moz-transition: background-position 300ms, color 300ms ease;
        -ms-transition: background-position 300ms, color 300ms ease;
        -o-transition: background-position 300ms, color 300ms ease;
        transition: background-position 300ms, color 300ms ease;
      }
      &.user {
        font-size: 18px;
      }
    }
  }
}
